<!DOCTYPE html>
<html>
<head>
  <title>Inventrom Site</title>
  <link rel="stylesheet" href="../style/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav>
    <div class="logo"><img src="../logo.png" alt="Logo"></div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#awards">Awards</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <header class="bg">
    <div class="bg-content">
      <h3>
        Bolt is an Internet of Things platform for enterprise ready IoT products and solutions.
      </h3>
    </div>
  </header>

  <section id="about">
    <div class="about-container">
      <div class="title">About Us</div>
      <p>We are an award-winning IoT startup. Our team has extensive experience in enterprise IoT projects.<br> Before working on the Bolt platform, we have been strategic consultants to various Fortune 500 companies.</p><br><br><br>
      <div class="card-align">
        <div class="card">
          <img src="../about_us_vision.png">
          <h3>Our Vision</h3>
          <p>Build a technology platform for better communication.</p>
        </div>
        <div class="card">
          <img src="../abous_us_mission.png">
          <h3>Our Mission</h3>
          <p>To build a platform to make IoT development quick, easy, and low cost for developers. This will help in better connectivity between humans and machines, helping us get the most out of machines.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="awards">
    <div class="title">Awards</div>
    <div class="awards-container">
      <div class="award-item">
        <img src="../award1.png" alt="Award 1">
        <h3>Showcase</h3>
        <h5>INDO-US STARTUP-KONNECT PROGRAM,<br> SILICON VALLEY.</h5>
      </div>
      <div class="award-item">
        <img src="..//award2.png" alt="Award 2">
        <h3>Winner</h3>
        <h5>DST-LOCKHEED MARTIN INDIA INNOVATION GROWTH PROGRAM.</h5>
      </div>
      <div class="award-item">
        <img src="../award3.png" alt="Award 3">
        <h3>Winner</h3>
        <h5>POWER OF IDEAS.</h5>
      </div>
      <div class="award-item">
        <img src="../award4.png" alt="Award 4">
        <h3>Winner</h3>
        <h5>CHIEF MINISTER AWARD FOR BEST START-UP IN GOA.</h5>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="title">Get in Touch</div>
    <div class="contact-container">
      <div class="contact-form">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({
        	portalId: "4801849",
        	formId: "b021b49f-c504-4b1d-ad2b-1bb9e587287c"
          });
        </script>
      </div>
      <div class="contact-details">
        <h2>Our Locations</h2><br>
        <b>Mumbai</b>
        <p>Inventrom Private Limited, Unit no. B 32-A B-wing, 2nd Floor, Raj Industrial Complex, Military Road, Marol, Andheri East, Mumbai, Maharashtra-400059</p><br>
        <b>Goa</b>
        <p>Inventrom Private Limited, 10, Gaspar Apartment, behind Suzuki showroom, Panjim, Goa-403001, Near People's High School</p><br><br>
        <br><br><br><h2>Contact Us</h2><br>
        <p><b>Address:</b> 79, 11th Cross Rd, Binnamangala Indiranagar, Bengaluru, Karnataka 560038, India</p><br>
        <p><b>Phone:</b> (+91) 8881197198</p><br>
        <p><b>Email:</b> contactus@boltiot.com</p>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-content">
      <span>Copyright &copy; 2023 Inventrom.</span>
      <div class="social-icons">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#">&#x2191;</a>
      </div>
    </div>
  </footer>

  <script src="javascript/script.js"></script>
</body>
</html>
